{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
post
{% endblock title %}

{% block content %}
<h2 style="text-align: left;">Заголовок: {{ post.header }}</h2>
<h2 style="text-align: left;">Дата публикации: {{ post.time_in|date:'d-m-Y'}}</h2>
<h2 style="text-align: left;">Содержание: </h2>
<h2 style="text-align: left;">{{ post.content|censure }}</h2>
{% if perms.news.change_news or perms.news.change_article %}
    {% if post.is_post == 'New' %}
        <h2><a href="{% url 'news_edit' post.pk %}">Edit news</a></h2>
    {% else %}
        <h2><a href="{% url 'article_edit' post.pk %}">Edit article</a></h2>
    {% endif %}
{% endif %}
{% endblock content %}